@import "tailwindcss";

@theme {
    --color-dark-theme: #121519;
    --color-cyan-accent: #00e6a8;
    --color-card-dark: #1e1e24;
    }

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
    }

@utility animate-scroll {
    display: flex;
    width: max-content;
    animation: scroll 20s linear infinite;
    }